force-app/main/default/flows/BuildSubscriptionsFromOpp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Build_POC_from_Subscription</name>
        <label>Build POC  from Subscription</label>
        <locationX>811</locationX>
        <locationY>467</locationY>
        <actionName>ProductSubscriptionUtility</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>BuildFromProdSubsc</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prodID</name>
            <value>
                <elementReference>ProdId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accId</name>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BuildProdSubs4Opp</name>
        <label>BuildProdSubs4Opp</label>
        <locationX>809</locationX>
        <locationY>183</locationY>
        <actionName>ProductSubscriptionUtility</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>oppID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>BuildFromOpp</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MergerItems2Terms</name>
        <label>MergerItems2Terms</label>
        <locationX>378</locationX>
        <locationY>559</locationY>
        <actionName>ProductSubscriptionUtility</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>psID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>MergeI2T</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <description>check if source is Opp of PS</description>
        <name>checkSource</name>
        <label>checkSource</label>
        <locationX>368</locationX>
        <locationY>186</locationY>
        <defaultConnector>
            <targetReference>MergeI2T</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is ProductSubsc</defaultConnectorLabel>
        <rules>
            <name>isOpp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuildProdSubs4Opp</targetReference>
            </connector>
            <label>isOpp</label>
        </rules>
    </decisions>
    <decisions>
        <name>MergeI2T</name>
        <label>MergeI2T</label>
        <locationX>367</locationX>
        <locationY>355</locationY>
        <defaultConnector>
            <targetReference>Get_PS_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isMerge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MergIT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MergerItems2Terms</targetReference>
            </connector>
            <label>isMerge</label>
        </rules>
    </decisions>
    <description>build PS POC  from Opp or PS 8.0 (NO AURA LC simplified)</description>
    <interviewLabel>BuildSubscriptionsFromOpp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BuildSubscriptionsPOC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_PS_record</name>
        <label>Get PS record</label>
        <locationX>582</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_POC_from_Subscription</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ProductSubscription__c</object>
        <outputAssignments>
            <assignToReference>AccId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProdId</assignToReference>
            <field>Product__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>49</locationX>
        <locationY>184</locationY>
        <connector>
            <targetReference>checkSource</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>AccpountId</description>
        <name>AccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Ths Opp close Deal on behalf  of othet Accounts</description>
        <name>onBehalfOpp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Operation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Product ID</description>
        <name>ProdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ID of the current record</stringValue>
        </value>
    </variables>
</Flow>
